.submit {
    background-color: white;
    color: black;
    border: 3px solid #343a40;
    margin-bottom: 5px;
    border-radius: 3px;
}

.submit:hover {
    background-color: #343a40;
    color: white;
    border-radius: 3px;
}

.transparent{
  background:rgba(255,255,255,0.85);
  margin-top: 5px;

}

.button-container form,
.button-container form div {
    display: inline;
}

.button-container button {
    display: inline;
    vertical-align: middle;
}